/* Error: expected "}".
 *    ,
 * 19 |   background-color: #F2F2F2;
 *    |                             ^
 *    '
 *   assets\sass\button.scss 19:29  @import
 *   assets\sass\style.sass 11:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a    \2577 \a 19 \2502    background-color: #F2F2F2;\a    \2502                              ^\a    \2575 \a   assets\\sass\\button.scss 19:29  @import\a   assets\\sass\\style.sass 11:9    root stylesheet';
}
