/* Error: Can't find stylesheet to import.
 *    ,
 * 21 | @import "grid-container.sass"
 *    |         ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets\sass\style.sass 21:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 21 \2502  @import \"grid-container.sass\"\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets\\sass\\style.sass 21:9  root stylesheet";
}
