.main-section
    &__container
        min-height: 1035px
        margin: 0 auto
    &__subtitle
        margin-top: 80px
    &_long-line
        max-width: 1170px
        height: 1px
        background: #F2F2F2
        color: #F2F2F2
        border: none
        margin-top: 30px
        margin-bottom: 30px   
    
    &__grid-container
    //     display: grid
    //     grid-template-rows: repeat(2, 260px) 
    //     grid-template-columns: repeat(auto-fit, 210px)
    //     grid-gap: 30px
        margin-bottom: 61px
        // max-width: 1170px
    &__arrows
        display: flex
        flex-direction: row


