.main-section
    &__subtitle
        margin-top: 80px
    &__grid-container
        display: grid
        grid-template-rows: repeat(2, 260px) 
        grid-template-columns: repeat(auto-fit, 210px)
        grid-gap: 30px
        margin-top: 61px
        margin-bottom: 61px

