.our-projects__line
    color: #F2F2F2
    background: #F2F2F2
    border: none
    margin-bottom: 29px
    margin-top: 30px
    height: 1px

/*.our-projects__title
    margin-bottom: 30px*/

.our-projects__subtitle
    margin-top: 80px

.sample-row
    display: flex
    justify-content: space-between
    gap: 30px
    padding-bottom: 60px
    &:last-child
        padding-bottom: 0

.samples__title
    padding-top: 30px
    font-weight: 300
    font-size: 40px
    line-height: 47px
    color: #BDBDBD

.samples__content-text
    padding: 73px 0 64px
    width: 400px
    height: 120px