.main-section__content-container_two {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 1035px;
    
}
.main-section__row-1 {
    margin-top: 47,14px;
}
.main-section__subtitle_two {
    margin-top: 0;
}
.gallery {
    display: grid;
    grid-template-rows: repeat(2, 260px); 
    grid-template-columns: repeat(auto-fit, 210px);
    // grid-template-areas: 
    // "gray-1 gray-2 gray-3 gray-4 gray-5"
    // "gray-6 gray-7 gray-8 gray-9 gray-10";
    // grid-template-columns: repeat(auto-fit, 1fr);
    // grid-template-rows: 1fr 1fr;
    // grid-auto-flow: dense;
    gap: 30px;
    margin-top: 61px;
}

// .main-section__gray-1 {
//     grid-area: gray-1;
// }
// .main-section__gray-2 {
//     grid-area: gray-2;
// }
// .main-section__gray-3 {
//     grid-area: gray-3;
// }
// .main-section__gray-4 {
//     grid-area: gray-4;
// }
// .main-section__gray-5 {
//     grid-area: gray-5;
// }
// .main-section__gray-6 {
//     grid-area: gray-6;
// }
// .main-section__gray-7 {
//     grid-area: gray-7;
// }
// .main-section__gray-8 {
//     grid-area: gray-8;
// }
// .main-section__gray-9 {
//     grid-area: gray-9;
// }
// .main-section__gray-10 {
//     grid-area: gray-10;
// }

.main-section__row-3 {
    display: flex;
    flex-direction: row;
    // width: 297.89px;
    height: 63px;
    margin-top: 60px;
    gap: 30px;
}

.gallery a img:hover {
    -webkit-filter: none;
} 

.gallery a img brightness:hover {
    -webkit-filter: brightness(1);
}


.gray {-webkit-filter:grayscale(100%);}

