.main__section-six-page{
    margin-left: 300px;
    margin-top: 165px;
    max-width: 500px;
}
.main__name{
    width: 280px;
    height: 46px;
    margin-top: 34px;
    font-weight: bolder;
}
.main__adress{
    width: 100%;
    height: 46px;
}
.main__phone{
    width: 114px;
    height: 21px;
}
.main__mail{
    width: 114px;
    height: 21px;
    margin-top: 30px;
}
.main__button-six-page{
    width: 222px;
    height: 71px;
    margin-top: 33px;
    background: #333333;
    color: white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
}
.main__map{
    position: absolute;
    width: 1319px;
    height: 501px;
    left: 583px;
    top: 180px;
}