.button-white {
    background-color: #ffffff;
  border: none;
  color: #333333;
  padding-top: 27px;
  padding-bottom: 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  width: 222px;
  height: 71px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 12px;
}
.button-white:hover {
  background-color: #f2f2f2;
}