.button-white {
  background-color: #ffffff;
  border: none;
  color: #333333;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: -0.20000000000000018rem;
  // padding-left: -2.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.3rem;
  width: 222px;
  // height: 71px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  // line-height: 12px;
}
.button-white:hover {
  background-color: #f2f2f2;
}