.button {
    // background-color: #ffffff; /* white */
    border: none;
    // color: white;
    padding-top: 30px;
    padding-bottom: 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    width: 222px;
    height: 71px;
  }
  .button:hover {
    background-color: #F2F2F2;
}