.button-arrows {
    background-color: #ffffff; /* white */
    border: 2px solid #F2F2F2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    width: 52.95px;
    height: 53px;
}
.button-arrows:hover {
    background-color: #F2F2F2;
}