.fifth-section
    &__container
        display: flex
        flex-direction: column
    &__subtitle
        margin-top: 120px
    &__block
        width: 1170px
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 22px
        margin-bottom: 77px

    &__picture
        width: 749px
        height: 369px
        margin-left: 30px

    &__button
        background-color: #333333
        color: white
        &:hover
            background: #8D8D8D
    