.fifth-section
    &__container
        display: flex
        flex-direction: column
    &__subtitle
        margin-top: 120px
    &__block
        width: 1170px
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 22px
        margin-bottom: 77px

    &__form-item
        background: #F3F3F3
        color: #8D8D8D
        margin-bottom: 10px
        padding-left: 21px
        border: none
        width: 391px
        height: 46px
.textarea
    padding-top: 14px
    height: 147px
    margin-bottom: 0px    

.fifth-section__button
    background-color: #333333
    color: white
    &:hover
        background: #8D8D8D

// .required:after
//     color: red
//     content: "*"

// label span
//     cursor: text
// input
//     outline: none
// input:invalid + span:before
//     content: attr(placeholder)
//     color: #999
    


// input:invalid + span:after
//     content: '*'
//     color: red
    