
.main-section
    height: 934px
    &__logo
        width: 70px
    &__nav-container
        display: flex
        flex-direction: row
        align-items: center
        margin-top: 45px
        margin-bottom: 45px
        
.nav-menu
    font-family: "Roboto", sans-serif
    margin-left: 320px
    &__list
        display: flex
        flex-direction: row
    &__item
        height: 20px
        margin-right: 65px
        text-align: center
        &:last-child
            width: 83px
            margin-right: 0px
    &__item a
        color: #333333
        text-decoration: none
        &:hover
            border-top: 1px solid #333333
            border-bottom: 1px solid #333333
            padding-top: 3.89px
            padding-bottom: 3.89px
            padding-left: 10px
            padding-right: 10px
            margin-left: -10px
            margin-right: -10px
            transition: 0.1s ease-in

