.second-section__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1170px;
    min-height: 466x;
    margin-top: 120px;
    background: linear-gradient(to bottom, #FBFBFB 75%, white 25%);
//    background-color: #fcfbfbfe;
}
.second-section__item-container {
    display: grid;
    grid-template-areas: 
    "item1 item2"
    "item3 item2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
    padding: 0 0 0 90px;
}
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
    margin-top: 30px;
}
.item3 {
    grid-area: item3;
    padding: -30px;
}
.second-section__subtitle {
    position: relative;
    max-width: 168px;
    min-height: 64px;
    margin-top: 20px;
    padding: 0 0 0 40px;
}
.second-section__content-text {   
    position: relative;
    max-width: 400px;
    min-height: 200px;
    margin-top: 30px;
    padding: 0 0 0 40px;
    line-height: 25px;
}
.button-white-absolute {
    position: absolute;
    width: 222px;
    // height: 71px;
    background-color: white;
    align-self: end;
    margin-top: 0px;
    margin-left: 40px;
    padding: 0;
    border: 1px solid red;
}