.third-section__container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1170px;
    min-height: 268px;
}
.third-section__first-row {
    position: relative;
    max-width: 880px;
    min-height: 64px;
}
.second-row {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    max-width: 1170px;
    min-height: 144px;
}

.third-section__left-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
    max-width: 413px;
    min-height: 144px;
}

.third-section__right-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
    max-width: 570px;
    min-height: 144px;
}

.text_light {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    align-self: center;
}

.third-section__span {
    font-weight: 900;
    font-size: 200px;
    color: #F2F2F2;
}

// .third-section__svg-1 {
//     position: relative;
//     max-width: 104px;
//     min-height: 144;
// }
// .third-section__svg-2 {
//     position: relative;
//     max-width: 120px;
//     min-height: 144;
// }

.third-section__text_1 {
    position: relative;
    max-width: 279px;
    min-height: 144px;
    margin-left: 30px;
    // margin-right: 187px;
}
.third-section__text_2 {
    position: relative;
    max-width: 420px;
    min-height: 144;
    margin-left: 30px;
}
